@font-face {
    font-family: 'BerkelyMono';
    src: url("font/BerkeleyMono-Regular.woff2");
    font-weight: 400; // regular
    font-display: block;
}
@font-face {
    font-family: 'BerkelyMono';
    src: url("font/BerkeleyMono-Bold.woff2");
    font-weight: 600; // bold
    font-display: block;
}
@font-face {
    font-family: 'BerkelyMono';
    src: url("font/BerkeleyMono-Regular.woff2");
    font-weight: 600; // bold
    font-style: italic;
    font-display: block;
}
@font-face {
    font-family: 'BerkelyMono';
    src: url("font/BerkeleyMono-Regular.woff2");
    font-weight: 400; // regular
    font-display: block;
}
@font-face {
    font-family: 'BerkelyMonoVariable';
    src: url("font/BerkeleyMonoVariable-Regular.woff2");
    font-weight: 400; // regular
    font-display: block;
}
@font-face {
    font-family: 'BerkelyMonoVariable';
    src: url("font/BerkeleyMonoVariable-Italic.woff2");
    font-weight: 400; // regular
    font-style: italic;
    font-display: block;
}
