{# This Page Shows the Individual Blog Posts#}

{%- extends "base.html" %}
{% if page -%}{%- set node = page %}{%- elif section %}{%- set node = section %}{%- endif %}

{%- block seo %}
{{- super() }}
{%- set title_addition = "" %}
{%- if node.title and config.title %}
 {%- set title = node.title %}
 {%- set title_addition = title_separator ~ config.title %}
 {%- elif node.title %}
 {%- set title = node.title %}
 {%- else %}
 {%- set title = config.title %}
{%- endif %}

{%- if node.description %}
 {%- set description = node.description %}
{%- else %}
 {%- set description = config.description %}
{%- endif %}

{%- if node.date -%}
 {%- set created_time = node.date %}
{%- else -%}
 {%- set created_time = "" %}
{% endif %}

{%- if node.updated -%}
 {%- set updated_time = node.updated %}
{%- else -%}
 {%- set updated_time = "" %}
{%- endif -%}

{%- if current_section %}
 {%- set page_section = current_section %}
{%- else %}
 {%- set page_section = "" %}
{%- endif %}

{{- macros_head::seo(config=config, title=title, title_addition=title_addition, description=description, type="article", is_page=true, created_time=created_time, updated_time=updated_time, page_section=page_section) }}
{%- endblock seo %}

{%- block content %}
{% if page -%}{%- set node = page %}{%- elif section %}{%- set node = section %}{%- endif %}

{# Topics in this Section #}
{% if section is defined %}{% set type="section" %}{% elif page is defined %}{% set type="page" %}{% else %}{% set type="unknown" %}{% endif %}

<pre><code>TYPE:{{ type }}</code></pre>
{% for part in section %}{{ part |as_str }}{% endfor %}

{% set parent = get_section(path=node.ancestors | reverse | first) %}
<div class="toc" aria-hidden="true">
  <h4>Section Topics</h4>
  <div class="toc-sticky">
    {% for section_page in parent.pages %}
    <div class="toc-item">
      <a href="{#section_node.path#}">{# section_node.title #}</a>
    </div>
    {% endfor %}
  </div>
  {# end Topics in this Section #}

  {# Root Sections #}
  {% set root_section_name = node.ancestors | first %}
  {% set root_section = get_section(path=root_section_name) %}

  <div class="toc-item">
    <!--          <LI>path: '{# root_node.path #}'</LI>-->
    <!--          <LI>relative_path: '{# root_node.relative_path #}'</LI>-->
  </div>
  {# end Root Sections #}

  {% for section_page in parent.pages %}
  {% endfor %}
</div>


{% if page is defined %}
<article>
  {{- macros::title_post(page=page, config=config) }}

  {%- if config.extra.meta_post.position %}
  {%- if config.extra.meta_post.position == "top" or config.extra.meta_post.position == "both" %}
  {{- macros::meta_post(page=page, config=config) }}
  {%- endif %}{%- endif %}

  {{ node.content | safe }}

  {%- if config.extra.meta_post.position %}
  {%- if config.extra.meta_post.position == "bottom" or config.extra.meta_post.position == "both" %}
  {{- macros::meta_post(page=page, config=config) }}
  {%- endif %}{%- endif %}

  {%- block page_footer %}
  {{- macros::footer(page=page) }}
  {%- endblock page_footer %}
</article>
{% endif %}
{%- block toc %}
{%- set enable_toc = node.extra.toc | default(value=true) -%}
{%- if node.extra.toc and config.extra.recent %}
{%- set toc = node.toc %}
{%- elif enable_toc == true %}
{%- set toc = node.toc %}
{%- endif %}
{%- if toc %}
<div class="toc" aria-hidden="true">
  <h4>Page Topics</h4>
  <div class="toc-sticky">
    {%- for h in toc %}
    <div class="toc-item">
      <a class="subtext" href="{{h.permalink | safe}}">{{ h.title }}</a>
    </div>
    {%- if h.children %}
    {%- for h2 in h.children %}
    <div class="toc-item-child">
      <a class="subtext" href="{{h2.permalink | safe}}"><small>- {{ h2.title }}</small></a>
    </div>
    {%- endfor %}
    {%- endif %}
    {%- endfor %}
  </div>
</div>
{%- endif %}
{%- endblock toc %}

{%- endblock content %}

{%- block gotop %}

{%- if node.reading_time %}
{%- if node.reading_time > 2 %}
<span class="topout">
<span class="topleft"> </span><a href="#" class="top" title="Back to Top">{%- if config.extra.icon_top %}<i class="{{ config.extra.icon_top }}"></i>{%- else %}&cuwed;{%- endif %}</a>
</span>
{%- endif %}
{%- endif %}

{%- endblock gotop %}
