{%- extends "base.html" %}
{%- import "macros/mapper.html" as mapper %}

{%- block seo %}
{%- set this_page = get_page(path=mapper::this_page(section=section|default(value=false),page=page|default(value=false))) -%}
{%- set this_section=get_section(path=this_page.ancestors | reverse | first) -%}
{%- set page=this_page -%}{%- set section=this_section -%}

{{- super() }}
{%- set title_addition = "" %}
{%- if page.title and config.title %}
{%- set title = page.title %}
{%- set title_addition = title_separator ~ config.title %}
{%- elif page.title %}
{%- set title = page.title %}
{%- else %}
{%- set title = config.title %}
{%- endif %}

{%- if page.description %}
{%- set description = page.description %}
{%- else %}
{%- set description = config.description %}
{%- endif %}

{%- if page.date -%}
{%- set created_time = page.date %}
{%- else -%}
{%- set created_time = "" %}
{% endif %}

{%- if page.updated -%}
{%- set updated_time = page.updated %}
{%- else -%}
{%- set updated_time = "" %}
{%- endif -%}

{{- macros_head::seo(config=config, title=title, title_addition=title_addition, description=description, type="article", is_page=true, created_time=created_time, updated_time=updated_time) }}
{%- endblock seo %}

{%- block breadcrumbs -%}
<div style="position:sticky">
  {%- set active_page = get_page(path=mapper::this_page(section=section|default(value=false),page=page|default(value=false))) -%}
  {%- set active_section=get_section(path=active_page.ancestors | reverse | first) -%}
  {%- set lower_root=get_section(path=mapper::lower_root(section=section|default(value=false),page=page|default(value=false))) -%}
  {%- set upper_root=get_section(path=mapper::upper_root(section=section|default(value=false),page=page|default(value=false))) -%}
  {%- for section_name in active_page.ancestors -%}
    {%- set section_on_path = get_section(path=section_name) -%}

    {%- if section_on_path.title -%}
    {%- if section_on_path.relative_path == active_section.relative_path -%}
      <span title="{{- section_on_path.description | default(value='[current section]') -}}"><a href="{{ section_on_path.path }}"><strong>{{ section_on_path.title }}▼</strong> </a></span>
    {%- else -%}
      <span><a href="{{- section_on_path.path -}}">{{ section_on_path.title }}► </a></span>
    {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
  <span title="{{ active_page.description | default(value='[current page]') }}"><a href="{{active_page.path}}"><strong>{{active_page.title}} 🖺</strong></a></span>
</div>
{%- endblock breadcrumbs -%}

{# CONTENT #}
{%- block content -%}

{%- set active_page = get_page(path=mapper::this_page(section=section|default(value=false),page=page|default(value=false))) -%}
{%- set active_section=get_section(path=active_page.ancestors | reverse | first) -%}
{%- set lower_root=get_section(path=mapper::lower_root(section=section|default(value=false),page=page|default(value=false))) -%}
{%- set upper_root=get_section(path=mapper::upper_root(section=section|default(value=false),page=page|default(value=false))) -%}

<!-- active_page: {{ active_page.relative_path }} -->
<!-- active_section: {{ active_section.relative_path }} -->


<!-- lower_root: {{ mapper::lower_root(section=section|default(value=false),page=page|default(value=false)) }} -->
<!-- >upper_root: {{ mapper::upper_root(section=section|default(value=false),page=page|default(value=false)) }} -->

<div class="toc" aria-hidden="true" id="">
<!--  <h4>{{ active_section.extra.topicheader | default(value=active_section.title) }}</h4>-->
  {%- set root_section = get_section(path="_index.md") -%}
  <div class="toc-sticky">

    {%- set root_section = upper_root -%}
    {#%- set root_section = get_section(path="_index.md") -%#}

    {%- for page in root_section.pages -%}
    {%- if page.extra.inmenu is defined and page.extra.inmenu==false -%}
    {%- continue -%}
    {%- endif -%}
    <div class="toc-item">
      {%- if page.relative_path == active_page.relative_path -%}
      <a href="{{page.path}}"
         {%- if page.description -%}
         title="{{ page.description }}"
         {%- endif -%}
      ><strong>{{- page.title -}}</strong></a>
      {%- else -%}
      <a href="{{page.path}}"
         {%- if page.description -%}
         title="{{ page.description }}"
         {%- endif -%}
      >{{- page.title -}}</a>
      {%- endif -%}
    </div>

    {%- endfor -%}

    {%- for subsection_path in root_section.subsections -%}

    {%- set subsection = get_section(path=subsection_path) -%}

    <div class="toc-item"
         {%- if subsection.description -%}
         title="{{ subsection.description }}"
         {%- endif -%}
    >
      {%- if subsection.relative_path == active_section.relative_path -%}
      <strong>▼ {{- subsection.title -}}</strong>
      {%- else -%}
      <a href="{{subsection.path}}">► {{- subsection.title -}}</a>
      {%- endif -%}
    </div>

    {%- if subsection.relative_path == active_section.relative_path -%}

    {%- for subsection_page in subsection.pages -%}
    <!-- subsection_page_path: {{ subsection_page.path }} -->
    <div class="toc-item-child">
      <a href="{{subsection_page.path}}">
        {%- if subsection_page.path == active_page.path -%}
        <strong>{{- subsection_page.title -}}</strong>
        {%- else -%}
        {{- subsection_page.title -}}
        {%- endif -%}
      </a>
    </div>
    {%- endfor -%}

    {%- for subsubsection_path in subsection.subsections -%}
    <!-- subsubsection_path: {{ subsubsection_path }} -->
    {%- set subsubsection = get_section(path=subsubsection_path) -%}
    <div class="toc-item-child">
      <a href="{{subsubsection.path}}"
         {%- if subsection.description -%}
         title="{{subsection.description}}"
         {%- endif -%}
      >‣ {{subsubsection.title}}</a>
    </div>
    {%- endfor -%}

    {%- endif -%}
    {%- endfor -%}

  </div>
</div>

<article>

  {{ active_page.content | safe }}

  {%- if config.extra.meta_post.position %}
  {%- if config.extra.meta_post.position == "bottom" or config.extra.meta_post.position == "both" %}
  {%- if page is defined -%}
  {{- macros::meta_post(page=page, config=config) }}
  {%- endif %}
  {%- endif %}
  {%- endif %}

  {%- block page_footer -%}
  {{- macros::footer(page=page) }}
  {%- endblock page_footer %}
</article>

{%- block toc %}
{%- set active_page = get_page(path=mapper::this_page(section=section|default(value=false),page=page|default(value=false))) -%}
{%- set active_section=get_section(path=active_page.ancestors | reverse | first) -%}

{%- set enable_toc = active_page.extra.toc | default(value=true) -%}
{%- if active_page.extra.toc and config.extra.recent %}
{%- set toc = active_page.toc %}
{%- elif enable_toc == true %}
{%- set toc = active_page.toc %}
{%- endif %}
{%- if toc %}
<div class="toc" aria-hidden="true">
  <div class="toc-sticky">
    <h5>{{ active_page.title }}</h5>
    {%- for h in toc %}
    <div class="toc-item">
      <a class="subtext" href="{{h.permalink | safe}}">{{ h.title }}</a>
    </div>
    {%- if h.children %}
    {%- for h2 in h.children %}
    <div class="toc-item-child">
      <a class="subtext" href="{{h2.permalink | safe}}"><small>- {{ h2.title }}</small></a>
    </div>
    {%- endfor %}
    {%- endif %}
    {%- endfor %}
  </div>
</div>
{%- endif %}
{%- endblock toc %}


{%- endblock content -%}
