{# This Page Shows the Individual Blog Posts#}

{% extends "base.html" %}


{%- block content %}
    <article>
      <div style="border: 1px solid black">
      {%- if section and section.pages -%}
        <OL>
        {%- for subpage in section.pages -%}
          <LI>{{ subpage.title }}</LI>
        {%- endfor -%}
        </OL>
      {%- else -%}
        <span>No Pages!</span>
      {%- endif -%}
      </div>

    </article>
    {%- block toc %}
    {%- if page and page.extra.toc and config.extra.recent %}
    {%- set toc = page.toc %}
    {%- endif %}
    {%- if toc %}
    <div class="toc" aria-hidden="true">
      <div class="toc-sticky">
        <h3>Index</h3>
        {%- for h in toc %}
        <div class="toc-item">
          <a class="subtext" href="{{h.permalink | safe}}">{{ h.title }}</a>
        </div>
        {%- if h.children %}
        {%- for h2 in h.children %}
        <div class="toc-item-child">
          <a class="subtext" href="{{h2.permalink | safe}}"><small>- {{ h2.title }}</small></a>
        </div>
        {%- endfor %}
        {%- endif %}
        {%- endfor %}
      </div>
    </div>
    {%- endif %}
    {%- endblock toc %}

{%- endblock content %}

{%- block gotop %}

{%- if page and page.reading_time and page.reading_time > 2 %}
<span class="topout">
<span class="topleft"> </span><a href="#" class="top" title="Back to Top">{%- if config.extra.icon_top %}<i class="{{ config.extra.icon_top }}"></i>{%- else %}&cuwed;{%- endif %}</a>
</span>
{%- endif %}

{%- endblock gotop %}
